body {
    background-color: whitesmoke;
    font-family: 'Syncopate', sans-serif;
}

.container {
    display: flex;
}

/*-------------Front page-------------*/

.empty {
    height: 2vh;
    width: 10%;
    background-color: whitesmoke;
    border: 1px solid black;
}

.full {
    height: 2vh;
    width: 10%;
    background-color: red;
    border: 1px solid black;
}

.almost_full {
    height: 2vh;
    width: 10%;
    background-color: orange;
    border: 1px solid black;
}

.semi_full {
    height: 2vh;
    width: 10%;
    background-color: yellow;
    border: 1px solid black;
}

.almost_empty {
    height: 2vh;
    width: 10%;
    background-color: #40ff00;
    border: 1px solid black;
}

/*-------------Line chart-------------*/

.chart-container {
    width: 640px;
    height: auto;
  }